.box{
    
    width: 100%;
    height: 100%;
    background-color:  #ff8c16;    
}
.box1{
    width: 100%;
    height: 100%;
    background-color:  #ff8c16; 
}
.box2{
    width: 100%;
    height: 100%;
    background-color:  #ff8c16; 
}
.box3{
    width: 100%;
    height: 100%;
    background-color: #b20eab; 
}
.box4{
    width: 100%;
    height: 100%;
    background-color: #b20eab; 
}
.box5{
    width: 100%;
    height: 100%;
    background-color: #b20eab; 
}
.box6{
    width: 100%;
    height: 100%;
    background-color: #b20eab; 
}
.box7{
    width: 100%;
    height: 100%;
    background-color: #1b33ec; 
}
.box8{
    width: 100%;
    height: 100%;
    background-color: #1b33ec; 
}
.box9{
    width: 100%;
    height: 100%;
    background-color: #1b33ec; 
}
.box10{
    width: 100%;
    height: 100%;
    background-color: #fbf000; 
}
.box11{
    width: 100%;
    height: 100%;
    background-color: #fbf000; 
}
.box12{
    width: 100%;
    height: 100%;
    background-color: #327a05; 
}
.box13{
    width: 100%;
    height: 100%;
    background-color: #327a05; 
}
.box14{
    width: 100%;
    height: 100%;
    background-color: #327a05; 
}


