@font-face {
    font-family: grand;
    src: url(/proekt-1/font/Grand\ Royal.ttf);
}
.basliq{
    font-family: grand;
    width: 100%;
    height: 150px;
    background-color: #ff0909;
    color: #fdf310;
    text-align: left;
}
.basliq a
{    
    float: right;
    padding: 5%;
    
    color: white;
}
.Parol{
	
	width: 222px;
	padding: 5%;
	margin: 50px auto 10px auto;
	border: solid 1px #123;
	border-radius: 5px;
	background-color: #a7a1a1ec;
}
.ayaq{
    
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #ff0909;
	color: white;
	margin-left: 0px;
	margin-right: 0px;
	min-width: 900px;
    margin-top: 1100px;
    padding: 28px 0 5px 0;
    
}
