*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.box{
    height: 300px;
    width: 300px;
    border: 5px solid green;
    color: red;
    border-radius: 50%;
    border-bottom-left-radius: 500px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 60px;
    border-top-right-radius: 90px;
    background-image: url(/ders-6/indir.jpg);
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position-x: center;
    background-position-y: center;
    background-position: center;
    background: linear-gradient(black green yellow red violet);
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
   
    padding: 15px 20px 40px 50px;
    border: none;
}

.btn{
    padding: 15px 50px;
    background: transparent;
    border: 3px solid #333;
    background-color: teal;
    border-right: none;
    border-left: none;
    border-top: none;

}

.inp-btn{
    padding-left: 20px;
}

input {
    outline: none;
}